.content-table {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.content-table thead tr {
    background-color: paleturquoise;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.content-table tbody tr {
    border: 1px solid black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    border: 1px solid black;
}